@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page-1 {
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvbG9yfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60");
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1800px;
  overflow-y: hidden;
}

.page-2 {
  background-color: #fff !important;
}

.navbar-1 {
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.25rem;
}

.navbar-1 .navbar-1-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-1 .navbar-1-left ul li {
  padding: 0.4rem !important;
  background-color: rgba(196, 196, 196, 0.5);
  margin: 0.2rem;
  border-radius: 7%;
  color: #ffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.navbar-1 .navbar-1-left ul li a {
  color: #ffff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-1 .navbar-1-left ul .board i,
.navbar-1 .navbar-1-left ul p {
  margin-left: 0.2rem !important;
}

.navbar-1 .navbar-1-left ul .navbar-item-search input[type="text"] {
  background-color: transparent;
  padding: 0.3rem 0.3rem;
  border-radius: 5px;
  border: none;
  width: 10rem;
  margin-right: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
}

.navbar-1 .navbar-1-left ul .navbar-item-search input[type="text"]:focus {
  width: 20rem;
  background-color: #fff !important;
  border: none;
}

.navbar-1 .navbar-1-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-1 .navbar-1-right ul li {
  padding: 0.4rem;
  background-color: rgba(196, 196, 196, 0.5);
  margin: 0.2rem;
  border-radius: 7%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.navbar-1 .navbar-1-right ul li a {
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.show {
  display: block;
}

.navbar-2 {
  background-color: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.25rem;
}

.navbar-2 .navbar-2-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-2 .navbar-2-left div .board-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.navbar-2 .navbar-2-left div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-2 .navbar-2-left div ul li:first-child i,
.navbar-2 .navbar-2-left div ul li:first-child p,
.navbar-2 .navbar-2-left div ul li:first-child i {
  padding: 0.2rem;
}

.navbar-2 .navbar-2-left div ul li {
  padding: 0.4rem;
  background-color: rgba(196, 196, 196, 0.5);
  margin: 0.2rem;
  border-radius: 7%;
  color: #ffff;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.navbar-2 .navbar-2-left div ul li a {
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-2 .navbar-2-left div:first-child ul:first-child li:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.navbar-2 .navbar-2-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-2 .navbar-2-right div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-2 .navbar-2-right div ul li {
  z-index: 1;
  padding: 0.4rem;
  background-color: rgba(196, 196, 196, 0.5);
  margin: 0.2rem;
  border-radius: 7%;
  color: #ffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.navbar-2 .navbar-2-right div ul li a {
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.containerop::-webkit-scrollbar-track {
  background: #ebecf0;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #c0bbbb;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #dad6d6;
}

#wrapper::-webkit-scrollbar {
  width: 10rem;
}

#wrapper {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#wrapper .container {
  width: 17rem;
  background-color: #ebecf0;
  padding: 0.5rem;
  min-height: 10px;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 1rem;
  color: #203b6b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 200px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 15rem;
  overflow-y: scroll;
  bottom: 0;
}

#wrapper .container .inner {
  background-color: #fff;
  padding: 1rem;
  margin-top: 0.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px #d4d3d3;
  box-shadow: 0px 0px 10px 0px #d4d3d3;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 14px;
}

#wrapper .container .add-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

#wrapper .container .add-task .add-task-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#wrapper .add-new-list {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 1rem;
  color: #203b6b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.add-task-dialog textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0.5rem;
  border: none;
  outline: none;
  row-gap: 2;
  padding: 0.5rem;
  resize: none;
  height: 5rem;
  width: 100%;
  margin-top: 0.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px #d4d3d3;
  box-shadow: 0px 0px 10px 0px #d4d3d3;
  border-radius: 0.3rem;
  color: #203b6b;
  font-size: 14px !important;
}

.add-task-dialog .confirm-add-task {
  background-color: #3ddb45;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 14px;
}

.add-task-dialog a {
  margin-top: 10rem;
}

.dragging {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-transition: 10s ease-in-out;
  transition: 10s ease-in-out;
}

.modal-view {
  background-color: #f4f5f7;
  margin: auto;
  margin: auto;
  margin-top: -5rem;
  padding: 10px;
  border: 1px solid #888;
  width: 60%;
  height: 90%;
}

/* Modal Content */
.modal-head {
  padding: 10px;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-content {
  margin: auto;
  color: black;
  padding: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-inner-content .modal-left {
  width: 100%;
}

.modal-inner-content .modal-left .modal-txt {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #172b4d;
  font-size: 14px;
}

.modal-inner-content .modal-left .modal-txt:focus {
  background-color: #fff !important;
  cursor: auto;
  border: 5px solid #4d99cc;
}

.modal-inner-content .modal-left .modal-text-editor {
  margin-top: 1rem;
}

.modal-inner-content .modal-left .modal-text-editor a {
  background-color: #3ddb45;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  margin-right: 0.5rem;
}

.modal-inner-content .modal-left .modal-save {
  background-color: #3ddb45;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  margin-right: 0.5rem;
}

.modal-inner-content .modal-right .modal-settings .modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  background-color: #eaecef;
  color: #172b4d;
  padding: 0rem 0.5rem;
  margin: 0.5rem;
  font-size: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-inner-content .modal-right .modal-settings .modal-btn i,
.modal-inner-content .modal-right .modal-settings .modal-btn p {
  padding: 0.5rem;
  width: 100%;
}

.modal-inner-content .modal-right .modal-settings .modal-btn p {
  padding-right: 2rem;
  -ms-flex-preferred-size: 2;
  flex-basis: 2;
}

.modal-footer .modal-footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-footer .modal-footer-heading i,
.modal-footer .modal-footer-heading p {
  padding: 0.5rem;
}

.modal-footer .modal-footer-form input {
  border: 1px solid #b0b8c3;
  border-radius: 5px;
}

.modal-footer .modal-footer-form input:focus {
  outline: none;
  border: 0px solid #b0b8c3 !important;
  border-radius: 5px;
}

.page-2 .contents .contents_nav {
  height: 10rem;
  background-image: url("");
  border: 1px solid #dfe1e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.page-2 .contents .contents_nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px) [3];
  grid-template-columns: repeat(3, 100px);
}

.page-2 .contents .contents_nav ul .nav-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.page-2 .contents .contents_nav ul .nav-li .nav-a {
  height: 100%;
  background-color: #dfe1e6;
  color: #172b4d;
  font-size: 14px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  margin-bottom: 0rem;
  border: 1px solid #dfe1e6;
}

.page-2 .contents .contents_nav ul .nav-li .nav-a:hover {
  background-color: #dfe1e6;
}

.page-2 .contents .contents_nav ul .nav-li .nav-a:focus {
  background-color: #ffffff;
  border-bottom: #fff;
  margin-bottom: -0.05rem;
}

.page-2 .contents .list-boards {
  margin-top: 3rem !important;
  width: 75%;
  margin: auto;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px) [4];
  grid-template-columns: repeat(4, 300px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-2 .contents .list-boards .boards {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  height: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1508615121316-fe792af62a63?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGdyYWRpZW50JTIwY29sb3J8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.page-2 .contents .list-boards .boards p:first-child {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem;
}

.page-2 .contents .list-boards .boards .bttom-block-description {
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
  padding: 0.5rem;
  font-family: "Akaya Kanadaka";
}

.page-2 .contents .list-boards .boards:hover {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.list-members {
  margin: auto;
  margin-top: 5rem;
  width: 70%;
}

.list-members .list_of_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.list-members .list_of_projects .board-name {
  font-size: 20px;
  font-weight: 700;
}

.new-board {
  height: 6em;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #f5f6f7;
  color: #172b4d;
  cursor: pointer;
  border: none;
}

.new-board p {
  font-size: 1.3rem !important;
  font-weight: 500;
  padding: 0.5rem;
}

.new-board:focus {
  outline: none;
}

.modal-1 {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  margin: auto;
}

.modal-container .modal-inner-1 {
  background-color: #fff;
  margin-top: 1rem;
  height: 10rem;
  width: 20rem !important;
  max-width: 25rem;
  padding: 1rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-container .modal-close {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.modal-container .modal-inner-1 h1 {
  font-size: 1rem;
  color: #000;
}

.modal-container .modal-inner-1 input[type="text"] {
  margin-top: 2rem;
  background-color: transparent;
  padding: 0.3rem 0.3rem;
  border-radius: 5px;
  border: none;
  width: 20rem;
  margin-right: 0.5rem;
  outline: none;
}

.modal-container .modal-inner-1 input[type="text"]:focus {
  background-color: #e8e4e4 !important;
  border: none;
}

.modal-container .modal-inner-1 .btn-project {
  margin-top: 2rem;
  outline: none;
  padding: 0.5rem;
}
/*# sourceMappingURL=main.css.map */
