@import "./_colors";
@import "./_font";
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: $primary_font_family;
}
.page-1 {
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvbG9yfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60");
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1800px;
  overflow-y: hidden;
}
.page-2 {
  background-color: #fff !important;
}
.navbar-1 {
  background-color: $black-nav;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  // THE FIRST DIV
  .navbar-1-left {
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 0.4rem !important;
        background-color: $li-background;
        margin: 0.2rem;
        border-radius: 7%;
        color: #ffff;
        align-items: center;
        height: 1rem !important;
        display: flex;
        align-items: center;
        a {
          color: #ffff;
          display: flex !important;
          align-items: center;
        }
      }
      .board i,
      p {
        margin-left: 0.2rem !important;
      }
      .navbar-item-search {
        input[type="text"] {
          background-color: transparent;
          padding: 0.3rem 0.3rem;
          // margin-top: 0px;
          border-radius: 5px;
          border: none;
          width: 10rem;
          margin-right: 0.5rem;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          transition: all 0.5s;
          outline: none;
        }
        input[type="text"]:focus {
          width: 20rem;
          background-color: #fff !important;
          border: none;
        }
      }
    }
  }
  .navbar-1-right {
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 0.4rem;
        background-color: $li-background;
        margin: 0.2rem;
        border-radius: 7%;
        align-items: center;
        height: 1rem;
        display: flex;
        align-items: center;
        a {
          color: #ffff;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
.show {
  display: block;
}
.navbar-2 {
  background-color: $white-nav;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  .navbar-2-left {
    display: flex;
    div {
      .board-list {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        right: 0;
        z-index: 1;
      }
      ul {
        display: flex;
        li:first-child {
          i,
          p,
          i {
            padding: 0.2rem;
          }
        }
        li {
          padding: 0.4rem;
          background-color: $li-background;
          margin: 0.2rem;
          border-radius: 7%;
          color: #ffff;
          z-index: 1;
          align-items: center;
          height: 1rem;
          display: flex;
          align-items: center;
          a {
            color: #ffff;
            display: flex;
            align-items: center;
          }
        }
      }
    }
    div:first-child {
      ul:first-child {
        li:nth-child(2) {
          font-size: 1.2rem;
          font-weight: 700;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  .navbar-2-right {
    display: flex;
    div {
      ul {
        display: flex;
        li {
          z-index: 1;
          padding: 0.4rem;
          background-color: $li-background;
          margin: 0.2rem;
          border-radius: 7%;
          color: #ffff;
          align-items: center;
          height: 1rem;
          display: flex;
          align-items: center;
          a {
            color: #ffff;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
.container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.containerop::-webkit-scrollbar-track {
  background: #ebecf0;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: rgb(192, 187, 187);
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: rgb(218, 214, 214);
}
#wrapper::-webkit-scrollbar {
  width: 10rem;
}
#wrapper {
  // overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  height: 100%;
  align-items: flex-start;

  .container {
    width: 17rem;
    background-color: rgb(235, 236, 240);
    padding: 0.5rem;
    min-height: 10px;
    border-radius: 5px;
    margin-left: 1rem;
    margin-top: 1rem;
    color: $text-color-2;
    font-family: $primary_font_family;
    min-height: 200px;
    height: max-content;
    min-width: 15rem;
    overflow-y: scroll;
    bottom: 0;

    .inner {
      background-color: $white;
      padding: 1rem;
      margin-top: 0.5rem;
      box-shadow: 0px 0px 10px 0px #d4d3d3;
      border-radius: 0.3rem;
      cursor: pointer;
      font-size: 14px;
    }
    .add-task {
      display: flex;
      align-items: center;
      cursor: pointer;
      .add-task-1 {
        display: flex;
        align-items: center;
      }
    }
  }
  .add-new-list {
    cursor: pointer;
    display: flex;
    width: 12rem;
    background-color: $white-nav;
    padding: 0.5rem;
    border-radius: 5px;
    margin-left: 1rem;
    margin-top: 1rem;
    color: $text-color-2;
    font-family: $primary_font_family;
    height: 20px;
    align-items: center;
    font-size: 14px;
  }
}
// Editing the card to be add
.add-task-dialog {
  textarea {
    font-family: $primary_font_family;
    margin-top: 0.5rem;
    border: none;
    outline: none;
    row-gap: 2;
    padding: 0.5rem;
    resize: none;
    height: 5rem;
    width: 100%;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 10px 0px #d4d3d3;
    border-radius: 0.3rem;
    color: $text-color-2;
    font-size: 14px !important;
  }
  .confirm-add-task {
    background-color: #3ddb45;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
  }
  .modal-inner-content{
      display: flex;
      .modal-left{
          width: 100%;
        .modal-txt{
            font-family: $primary_font_family;
            color: #172B4D;
            font-size: 14px;
        }
    
        .modal-txt:focus{
          background-color: #fff !important;
          cursor: auto;
         border: 5px solid #4d99cc;
          ;
      }
      .modal-text-editor{
          margin-top: 1rem;
        //   display: none;
          a{
              background-color: #3ddb45;
              padding: .2rem .5rem;
              border-radius: 3px;
              margin-right: .5rem;
          }
      }
      }
      .modal-right{
          .modal-settings{
              .modal-btn{
                  display: flex;
                  color: black;
                  background-color: #EAECEF;
                  color: #172b4d;
                  padding: 0rem .5rem;
                  margin: .5rem;
                  font-size: 14px;
                  align-items: center;
                  border-radius: 3px;
                  font-family: $primary_font_family;
                  i,p{
                    padding: .5rem;
                    width: 100%;
                  }
                  p{
                      padding-right: 2rem;
                      flex-basis: 2;
                  }
              }
          }
      }
    }
    .modal-save {
      background-color: #3ddb45;
      padding: 0.2rem 0.5rem;
      border-radius: 3px;
      margin-right: 0.5rem;
    }
  }
  .modal-right {
    .modal-settings {
      .modal-btn {
        display: flex;
        color: black;
        background-color: #eaecef;
        color: #172b4d;
        padding: 0rem 0.5rem;
        margin: 0.5rem;
        font-size: 14px;
        align-items: center;
        border-radius: 3px;
        font-family: $primary_font_family;
        i,
        p {
          padding: 0.5rem;
          width: 100%;
        }
        p {
          padding-right: 2rem;
          flex-basis: 2;
        }
      }
    }
  }

.modal-footer {
  .modal-footer-heading {
    display: flex;
    align-items: center;
    i,
    p {
      padding: 0.5rem;
    }
  }
  .modal-footer-form {
    input {
      border: 1px solid #b0b8c3;
      border-radius: 5px;
    }
    input:focus {
      outline: none;
      border: 0px solid #b0b8c3 !important;
      border-radius: 5px;
    }
  }
}

  .page-2{
      .contents{
          .contents_nav{
            height: 10rem;
            background-image: url("");
            // background-color: #F4F5F7;
            border: 1px solid #DFE1E6;
            display: flex;
            justify-content: center;
            align-items: flex-end;            
              ul{
                display: grid;
                grid-template-columns: repeat(3, 100px);
                // grid-column-gap: 20px;
                
                .nav-li{
                    display: flex;
                    align-items: flex-end;
                    // padding-left: 1rem;
                    // padding-right: 1rem;
                    .nav-a{
                        height: 100%;
                        background-color: #DFE1E6;
                        color: #172B4D;
                        font-size: 14px;
                        font-weight: 700;
                        font-family: $primary_font_family;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-top: .6rem;
                        margin-bottom:0rem;
                        border: 1px solid #DFE1E6;
                    }
                    .nav-a:hover{
                        background-color: #DFE1E6;
                    }
                    .nav-a:focus{
                        background-color: #ffffff;
                        border-bottom: #fff;
                        margin-bottom: -.05rem;
                    }
                }
              }
          }
      .list-boards{
            margin-top: 3rem !important;
            width: 75%;
            margin: auto;
            color: #fff;
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            justify-content: center;
            .boards{
                box-shadow: 10px 10px 20px rgba(0,0,0,0.5); 
                height: 8em;
                display: flex;
                align-content: space-between;
                justify-content: space-between;
                flex-direction: column;
                background-image: url("https://images.unsplash.com/photo-1508615121316-fe792af62a63?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fGdyYWRpZW50JTIwY29sb3J8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
                background-size: cover;
                background-position: center center;
                background-blend-mode: multiply;
                background-color: rgba($color: #000000, $alpha: 0.3);
                cursor: pointer;
                transition: 0.3s ease-out;
                
                p:first-child{
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: .5rem;
                }
                .bttom-block-description{
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    height: 0px;
                    font-family: "Akaya Kanadaka";
                    transition: 0.1s ease-in-out;
                }
                
            }
            .boards:hover{
                box-shadow: 10px 10px 20px rgba(0,0,0,0.3); 
                transform: scale(1.05);  
            }
            .boards:hover > .bttom-block-description{
                height: 30px;
                padding: .5rem;
            }
                }
            }
      }
    
    .list-boards {
      margin-top: 3rem !important;
      width: 75%;
      margin: auto;
      color: #fff;
      display: grid;
      grid-template-columns: repeat(4, 300px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-content: center;
      .boards {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        height: 8em;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: column;
        .board-name{
            font-size: 20px;
            font-weight: 700;
        }
    }}
    
      .new-board{
        height: 6em;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        background-color: rgba($color: #000000, $alpha: 0.3);
        cursor: pointer;
        transition: 0.5s ease-in-out;

        p:first-child {
          font-size: 1.3rem;
          font-weight: 500;
          padding: 0.5rem;
        }
        .bttom-block-description {
          background-color: rgba($color: #000000, $alpha: 0.5);
          height: 30px;
          padding: 0.5rem;
          font-family: "Akaya Kanadaka";
        }
      }
      .boards:hover {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
      }
      // .list_of_projects{
      //     .member_project{
      //         display: grid;

      //               }
      //           }
    // }
//   }
// }
.list-members {
  margin: auto;
  margin-top: 5rem;
  width: 70%;
  .list_of_projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .board-name {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
.new-board {
  height: 6em;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgba($color: #f5f6f7, $alpha: 1);
  color: #172b4d;

  cursor: pointer;
  border: none;
  p {
    font-size: 1.3rem !important;
    font-weight: 500;
    padding: 0.5rem;
  }
}
.new-board:focus {
  outline: none;
}
.modal-1 {
  display: none;
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}
.modal-container {
  display: flex;
  align-self: center;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  margin: auto;
  .modal-inner-1 {
    background-color: #fff;
    margin-top: 1rem;
    height: 10rem;
    width: 20rem !important;
    max-width: 25rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
  }
  .modal-close {
    color: #000;
    display: flex;
    justify-content: flex-end;
  }
  .modal-inner-1 {
    h1 {
      font-size: 1rem;
      color: #000;
    }
    input[type="text"] {
      margin-top: 2rem;
      background-color: transparent;
      padding: 0.3rem 0.3rem;
      // margin-top: 0px;
      border-radius: 5px;
      border: none;
      width: 20rem;
      margin-right: 0.5rem;
      // -webkit-transition: all .5s;
      // -moz-transition: all .5s;
      outline: none;
    }
    input[type="text"]:focus {
      background-color: rgb(232, 228, 228) !important;
      border: none;
    }
    .btn-project {
      margin-top: 2rem;
      outline: none;
      padding: 0.5rem;
    }
  }
}

.dark-mode {
}

// Slide view

// .slider{
//     width: 800px;
//     height: 500px;
//     // border-radius: 10px;
//     overflow: hidden;
//     .slides{
//         width: 500px;
//         height: 500px;
//         display: flex;
//         input{
//             display: none;
//         }
//         .slide{
//             widows: 20%;
//             transition: 2s;
//             img{
//                 width: 800px;
//                 height: 500px;
//             }
//         }
//         .navigation-auto{
//             position: absolute;
//             display: flex;
//             width: 800px;
//             justify-content: center;
//             margin-top: 460px;
//         }
//         .navigation-auto:div{
//             border: 2px solid #fff;
//             padding: 5px;
//             border-radius: 10px;
//             transition: 1s;
//         }
//     }
//     .navigation-manual{
//         position: absolute;
//         width: 800px;
//         margin-top: -40px;
//         display: flex;
//         justify-content: center;
//         .manual-btn{
//             border: 2px solid #4d99cc;
//             padding: 5px;
//             border-radius: 10px;
//             cursor: pointer;
//             transition: 1s;
//         }
//         .manual-btn:not(:last-child){
//             margin-right: 40px;
//         }
//         .manual-btn:hover{
//             background: #40D3DC;
//         }
//     }
// }

// #radio1:checked ~ .first{
//     margin-left: 0px;
// }
// #radio2:checked ~ .first{
//     margin-left: -160%;
// }
// #radio3:checked ~ .first{
//     margin-left: -320%;
// }
// #radio4:checked ~ .first{
//     margin-left: -480%;
// }
